/* Example CSS for the signup form */
.signup-form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .signup-form-container h1 {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  .signup-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    /* width: 300px;
    margin: 20px; */
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
  }

  /*
 .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  flex: 1;
  margin-right: 10px;
}

.input-group input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}*/
  
  .submit-button {
    background-color: #E9D8A6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .login-link {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  
  .login-link a {
    text-decoration: none;
    color: #f7c305b9;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  